<%= form_for @institution, :html => { :class => "form-horizontal institution" } do |f| %>

    <% if @institution.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @institution.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :sigla, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'form-control', :style=> 'max-width: 200px' %>
    </div>
    <%= error_span(@institution[:acronym]) %>
  </div>  
  <div class="form-group">
    <%= f.label :telefone, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control', :style=> 'max-width: 200px' %>
    </div>
    <%= error_span(@institution[:phone_number]) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :site, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :site, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:site]) %>
  </div>
  <div class="form-group">
    <%= f.label :contato, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :contact, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:contact]) %>
  </div>

  <br>

  <%= f.submit "Salvar Instituição", :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to "Cancelar", institutions_path, :class => 'btn btn-default' %>

<% end %>
