<%= form_for @institution, :html => { :class => "form-horizontal institution" } do |f| %>

    <% if @institution.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @institution.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone_number, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control', :style=> 'max-width: 200px' %>
    </div>
    <%= error_span(@institution[:phone_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :site, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :site, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@institution[:site]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            institutions_path, :class => 'btn btn-default' %>

<% end %>
