<%- model_class = Institution -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Instituições" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(institutions_path, :method => "get", id: "search-form", :class => "form-inline city") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_institution_name, session[:search_institution_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", institutions_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.id %></td>
        <td><%= institution.name %></td>
        <td><%= institution.phone_number %></td>
        <td><%= institution.email %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_institution_path(institution), 
                :disabled => !current_user.auth_to_edit('institution'),
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                institution_path(institution),
                :disabled => !current_user.auth_to_remove('institution'),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @institutions %>
<br>
<%= link_to t('.new', :default => "Novo"),
      new_institution_path,
      :disabled => !current_user.auth_to_add('institution'),
      :class => 'btn btn-primary' %>
