<%= simple_form_for @course_class, 
    :html => { :class => "form-horizontal course_class"},
    :url => url_for(course_classes_add_employee_path),
    :method => 'get' do |f| %>


  <div class="page-header">
    <h3>Tutores</h3>
  </div>

  <!--GROUP FIND EMPLOYEE -->
  <fieldset class="well the-fieldset">
    <div class="form-group">
        <%= f.label :tutor, :class => 'col-sm-2 control-label' %>
        <div class="controls">

            <%= f.input :employee, 
                        :url => autocomplete_employee_name_course_classes_path, 
                        :as => :autocomplete,
                        :autofocus => true,
                        :label=> false,
                        :input_html => { 
                          :class => 'form-control', 
                          :autocomplete => 'off',
                          :style => 'max-width: 600px;',
                          :id_element=>'#employee_id'
                        } 
            %>

            <%= f.hidden_field :employee_id, :id => "employee_id", :name => "employee_id" %>
            <%= f.hidden_field :id, :id => "id", :name => "id" %>

        </div>

        <br>

        <%= f.submit 'Adicionar Tutor', 
              :disabled => !current_user.auth_to_edit('course_class') || @course_class.closed,
              :class => 'col-sm-offset-2 btn btn-primary' %>
        <%= link_to "Cadastrar Novo", 
              employees_add_for_select_path, 
              :disabled => !current_user.auth_to_add('employee') || @course_class.closed,
              :class => 'btn btn-success', 
              :target => "blank" %> 
        
    </div>
  </fieldset>

  <!-- TUTORS -->
  <div role="tabpanel" class="tab-pane active" id="students">
      <%- model_class = Employee -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:telefone) %></th>
            <th><%= model_class.human_attribute_name(:email) %></th>
            <th><%=t '.actions', :default => "Ações" %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_class.employees.each do |employee| %>
            <tr id="employee_<%=employee.id%>">
              <td><%= employee.name %></td>
              <td><%= employee.phone_number %></td>
              <td><%= employee.email %></td>
              <td>

              <%= link_to "Remove", 
                    course_classes_remove_employee_path(:id => @course_class.id, :employee_id => employee.id),
                    :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja remover o tutor dessa turma?') },
                    :disabled => !current_user.auth_to_edit('registration') || @course_class.closed,
                    :remote => true,
                    :class=>'btn btn-xs btn btn-danger' %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    
  </div>

<%= link_to "Voltar", course_classes_path, :class => 'btn btn-default' %>
 
<% end %>
