<script type="text/javascript">

$(document).ready(function() { 
  $(".date").mask("99/99/9999");
});

</script>
<%= simple_form_for @course_class, :html => { :class => "form-horizontal course_class" } do |f| %>

    <% if @course_class.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @course_class.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@course_class[:name]) %>
  </div>

  <div class="form-group">
    <%= f.label :curso, :class => 'col-sm-2 control-label' %>
    <div class="controls" style="max-width:600px; display: -webkit-box;">
      <%= f.select(:course_id, Course.all.map{ |c| [c.name, c.id]}, {:value => :course_id}, {:class =>'form-control'})%>
    </div>
    <%= error_span(@course_class[:course]) %>
  </div>

  <div class="form-group">
    <%= f.label "Instituição", :class => 'col-sm-2 control-label' %>
    <div class="controls" style="max-width:600px; display: -webkit-box;">
      <%= f.select(:institution_id, Institution.all.map{ |c| [c.name, c.id]}, {:value => :institution_id}, {:class =>'form-control'})%>
    </div>
    <%= error_span(@course_class[:institution]) %>
  </div>

  <div class="form-group">
    <%= f.label "Início", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :begin, :class => 'form-control date', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@course_class[:begin]) %>
  </div>

  <div class="form-group">
    <%= f.label "Término", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :end, :class => 'form-control date', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@course_class[:end]) %>
  </div>

  <br><br>

  <%= error_span(@course_class[:begin]) %>

  <%= f.submit "Salvar Turma", :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to "Cancelar", course_classes_path, :class => 'btn btn-default' %>

 
<% end %>
