<%= simple_form_for @course_class.document, 
    :html => { :class => "form-horizontal course_class", :multipart => true },
    :url => url_for(course_classes_add_document_path),
    :method => 'post' do |f| %>

  <div class="page-header">
    <h1>Add Documents</h1>
  </div>

  <% if @course_class.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @course_class.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

   <fieldset class="well the-fieldset">
      <div class="form-group">
        <%= f.label :name, :class => 'col-sm-2 control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
        </div>
        <%= error_span(@course_class.document[:name]) %>
      </div>

      <div class="form-group">
        <%= f.label :category, :class => 'col-sm-2 control-label' %>
        <div class="controls" style="max-width:600px; display: -webkit-box;">
          <%= f.select(:document_category_id, 
            DocumentCategory.all.map{ |c| [c.name, c.id]}, 
            {:value => :document_category_id}, 
            {:class =>'form-control'})%>
        </div>
        <%= error_span(@course_class.document[:document_category]) %>
      </div>

      <div class="form-group">
        <%= f.label :file, :class => 'col-sm-2 control-label' %>
        <div class="controls" style="max-width:600px; display: -webkit-box;">
          <%= f.file_field :file, :style=> 'max-width: 600px', :title => "Escolha um arquivo" %>
        </div>
        <%= error_span(@course_class.document[:file]) %>
      </div>

      <br>

      <%= hidden_field_tag :course_class_id, @course_class.id %>

      <%= f.submit nil, :class => 'col-sm-ofset-4 btn btn-primary' %>

    </fieldset>

  <!-- DOCUMENTS -->
  <div role="tabpanel" class="tab-pane active" id="students">
      <%- model_class = Document -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:original_file_name) %></th>
            <th><%= model_class.human_attribute_name(:extension) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_class.documents.each do |document| %>
            <tr>
              <td width="40%"><%= document.name %></td>
              <td><%= document.original_file_name %></td>
              <td><%= document.extension %></td>
              <td>
              <%= link_to "Download", documents_download_file_path(:id => document.id), :class => 'btn btn-success btn-xs' %>
              <%= link_to "Remove", 
                    course_classes_remove_document_path(:id => @course_class.id, :document_id => document.id),:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class=>'btn btn-xs btn btn-danger' %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>

<% end %>
