<script type="text/javascript">
  
jQuery(function($){

    $(".datepicker").datepicker({
                dateFormat : "dd/MM/yy",
                yearRange : "c-20:c+5"
    });

    $(function () {
      $('#myTab a:fisrt').tab('show')
    });

});

</script>
<%= simple_form_for @course_class, :html => { :class => "form-horizontal course_class" } do |f| %>

    <% if @course_class.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@course_class.errors.count, "error") %> prohibited this course_class from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @course_class.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@course_class[:name]) %>
  </div>

  <div class="control-group">
    <%= f.label :course, :class => 'col-sm-2 control-label' %>
    <div class="controls" style="max-width:600px; display: -webkit-box;">
      <%= f.select(:course_id, Course.all.map{ |c| [c.name, c.id]}, {:value => :course_id}, {:class =>'form-control'})%>
    </div>
    <%= error_span(@course_class[:course]) %>
  </div>

  <div class="control-group">
    <%= f.label :institution, :class => 'col-sm-2 control-label' %>
    <div class="controls" style="max-width:600px; display: -webkit-box;">
      <%= f.select(:institution_id, Institution.all.map{ |c| [c.name, c.id]}, {:value => :institution_id}, {:class =>'form-control'})%>
    </div>
    <%= error_span(@course_class[:institution]) %>
  </div>

  <div class="control-group">
    <%= f.label :begin, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :begin, :class => 'form-control datepicker', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@course_class[:begin]) %>
  </div>

  <br><br>

  <%= error_span(@course_class[:begin]) %>

  <%= f.button :submit, :class => 'col-sm-offset-2 btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_classes_path, :class => 'btn btn-default' %>

  <br><br>

  <!-- TABS -->

  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#students" role="tab" data-toggle="tab">Students</a></li>
    <li role="presentation"><a href="#documents" role="tab" data-toggle="tab">Documents</a></li>
    <li role="presentation"><a href="#tutors" role="tab" data-toggle="tab">Tutors</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <div class="tab-content">
    <!-- STUDENTS -->
    <div role="tabpanel" class="tab-pane active" id="students">

        <div class="control-group">
          <div class="controls" style="!important padding: 0px; display: inline-flex;">
            <%= f.input :student, 
                        :url => autocomplete_student_name_course_classes_path, 
                        :as => :autocomplete, 
                        :input_html => { :class => 'form-control', :style => 'max-width: 400px;' } %>
            <%= f.button :submit, "Add Student", :class => 'col-sm-offset-2 btn-success', 
                         :style=> 'margin-left: 0px;margin-top: -5px;'%>
          </div>
          <%= error_span(@course_class[:begin]) %>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane" id="documents">...</div>
    <div role="tabpanel" class="tab-pane" id="tutors">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>
  
  <br>

 
<% end %>
