<%= simple_form_for @course_class, 
    :html => { :class => "form-horizontal course_class"},
    :url => url_for(course_classes_add_student_path),
    :method => 'get' do |f| %>


  <div class="page-header">
    <h3>Matrículas</h3>
  </div>

  <% if @course_class.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @course_class.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!--GROUP FIND EMPLOYEE -->
  <fieldset class="well the-fieldset">
    <div class="form-group">
        <%= f.label :aluno, :class => 'col-sm-2 control-label' %>
        <div class="controls">

            <%= f.input :student, 
                        :url => autocomplete_student_name_course_classes_path, 
                        :as => :autocomplete,
                        :label=> false,
                        :input_html => { 
                          :class => 'form-control', 
                          :style => 'max-width: 600px;',
                          :id_element=>'#student_id'
                        } 
            %>

            <%= f.hidden_field :student_id, :id => "student_id", :name => "student_id" %>
            <%= f.hidden_field :id, :id => "id", :name => "id" %>

        </div>

        <br>

        <%= f.submit 'Matricular Aluno', 
              :disabled => !current_user.auth_to_add('registration'),
              :class => 'col-sm-offset-2 btn btn-primary' %>
        <%= link_to "Cadastrar Novo", 
              students_add_for_select_path, 
              :disabled => !current_user.auth_to_add('student'),
              :class => 'btn btn-success', :target => "blank" %>
        
    </div>
  </fieldset>

  <!-- STUDENTS -->
  <div role="tabpanel" class="tab-pane active" id="students">
      <%- model_class = Student -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:telefone) %></th>
            <th><%= model_class.human_attribute_name(:email) %></th>
            <th><%= model_class.human_attribute_name("Possui Crachá") %></th>
            <th><%=t '.actions', :default => "Ações" %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_class.students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.phone_number %></td>
              <td><%= student.email %></td>
              <td><%= (student.has_badge ? "SIM" : "NÃO") %></td>
              <td>

              <%= link_to "Editar Matricula",
                    course_classes_redirect_to_edit_student_course_class_path(:course_class_id => @course_class.id, :student_id => student.id), 
                    :disabled => !current_user.auth_to_edit('registration'),
                    :class=>'btn btn-xs btn btn-primary' %>
              
              <%= link_to "Remover", 
                    course_classes_remove_student_path(:id => @course_class.id, :student_id => student.id),:data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir a matrícula?') },
                    :disabled => !current_user.auth_to_remove('registration'),
                    :class=>'btn btn-xs btn btn-danger' %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= error_span(@course_class[:begin]) %>
    
  </div>

  <%= link_to "Voltar", course_classes_path, :class => 'btn btn-default' %>                      

 
<% end %>
