<%= simple_form_for @course_class.document, 
    :html => { :class => "form-horizontal course_class", :multipart => true },
    :url => url_for(course_classes_add_document_path),
    :method => 'post' do |f| %>

  <div class="page-header">
    <h3>Documentos da Turma</h3>
  </div>

  <% if @course_class.document.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @course_class.document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

   <fieldset class="well the-fieldset">
      <div class="form-group">
       
        <div class="form-group">
          <%= f.label :nome, :class => 'col-sm-2 control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
          </div>
          <%= error_span(@course_class.document[:name]) %>
        </div>

        <div class="form-group">
          <%= f.label :categoria, :class => 'col-sm-2 control-label' %>
          <div class="controls" style="max-width:600px; display: -webkit-box;">
            <%= f.select(:document_category_id, 
              DocumentCategory.all.map{ |c| [c.name, c.id]}, 
              {:value => :document_category_id}, 
              {:class =>'form-control'})%>
          </div>
          <%= error_span(@course_class.document[:document_category]) %>
        </div>

        <div class="form-group">
          <%= f.label :arquivo, :class => 'col-sm-2 control-label' %>
          <div class="controls" style="max-width:600px; display: -webkit-box;">
            <%= f.file_field :file, :style=> 'max-width: 600px', :title => "Escolha um arquivo" %>
          </div>
          <%= error_span(@course_class.document[:file]) %>
        </div>

        <br>

        <%= hidden_field_tag :course_class_id, @course_class.id %>
        <%= f.submit "Salvar Documento", 
            :disabled => !current_user.auth_to_add('document') || @course_class.closed,
            :class => 'col-sm-offset-2 btn btn-primary' %>

      </div>
    </fieldset>

  <!-- DOCUMENTS -->
  <div role="tabpanel" class="tab-pane active" id="students">
      <%- model_class = Document -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:categoria) %></th>
            <th><%= model_class.human_attribute_name(:nome_original) %></th>
            <th><%= model_class.human_attribute_name("Extensão") %></th>
            <th><%=t '.actions', :default => "Ações" %></th>
          </tr>
        </thead>
        <tbody>
          <% @course_class.documents.each do |document| %>
            <tr id="document_<%=document.id%>">
              <td width="30%"><%= document.name %></td>
              <td><%= (document.document_category.nil? ? "" : document.document_category.name) %></td>
              <td><%= document.original_file_name %></td>
              <td><%= document.extension %></td>
              <td>

                <%= link_to "Download", 
                    documents_download_file_path(:id => document.id),
                    :disabled => !current_user.auth_to_view('document'), 
                    :class => 'btn btn-success btn-xs' %>

                <%= link_to "Remove", 
                      course_classes_remove_document_path(:id => @course_class.id, :document_id => document.id),
                      :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir o arquivo?') },
                      :remote => true,
                      :disabled => !current_user.auth_to_remove('document') || @course_class.closed,
                      :class=>'btn btn-xs btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

  </div>

  <%= link_to "Voltar", course_classes_path, :class => 'btn btn-default' %>                      

<% end %>
