<%- model_class = CourseClass -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Turmas" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(course_classes_path, :method => "get", id: "search-form", :class => "form-inline course_class") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_course_class_name, session[:search_course_class_name], 
           placeholder: "nome", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "Instituição" %>
      <div class="controls">
        <%= text_field_tag :search_course_class_institution_name, session[:search_course_class_institution_name],
            placeholder: "instituição", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :curso %>
      <div class="controls">
        <%= text_field_tag :search_course_class_course_name, session[:search_course_class_course_name],
            placeholder: "curso", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", course_classes_clear_search_path, 
      :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name("Instituição") %></th>
      <th><%= model_class.human_attribute_name(:curso) %></th>
      <th><%= model_class.human_attribute_name("Informações da Turma") %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @course_classes.each do |course_class| %>
      <tr id="course_class_<%=course_class.id%>">
        <td><%= course_class.id %></td>
        <td><%= course_class.name %></td>
        <td><%= course_class.institution.name %></td>
        <td><%= course_class.course.acronym %></td>
        <td>
        <%= link_to 'Matrículas', 
              course_classes_registrations_path(:id=>course_class.id), 
              :disabled => !current_user.auth_to_view('registration'),
              :class => 'btn btn-success btn-xs' %>
        <%= link_to 'Tutores', 
              course_classes_employees_path(:id=>course_class.id), 
              :disabled => !current_user.auth_to_view('employee'),
              :class => 'btn btn-primary btn-xs' %>
        <%= link_to 'Documentos', 
              course_classes_documents_path(:id=>course_class.id), 
              :disabled => !current_user.auth_to_view('document'),
              :class => 'btn btn-default btn-xs' %>
        </td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_course_class_path(course_class), 
                :disabled => !current_user.auth_to_edit('course_class'),
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                course_class_path(course_class),
                :disabled => !current_user.auth_to_remove('course_class'),
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @course_classes %>
<br>
<%= link_to t('.new', :default => "Novo"),
      new_course_class_path,
      :disabled => !current_user.auth_to_add('course_class'),
      :class => 'btn btn-primary' %>
