<%- model_class = Employee -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Colaboradores" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(employees_path, :method => "get", id: "search-form", :class => "form-inline employees") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_employee_name, session[:search_employee_name],
           placeholder: "nome", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :categoria %>
      <div class="controls">
        <%= text_field_tag :search_employee_category_name, session[:search_employee_category_name], 
            placeholder: "categoria", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    
    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", employees_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>
  </fieldset>

<% end %>

<%= link_to t('.new', :default => "Novo"),
      new_employee_path,
      :disabled => !current_user.auth_to_add('employee'),
      :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:categoria) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr id="employee_<%=employee.id%>">
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.phone_number %></td>
        <td><%= (employee.employee_category.nil? ? "" : employee.employee_category.name) %></td>
        <td><%= employee.email %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_employee_path(employee), 
                :disabled => !current_user.auth_to_edit('employee'),  
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                employee_path(employee),
                :disabled => !current_user.auth_to_remove('employee'),
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @employees %>