<%- model_class = CourseClassStudent -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:student_id) %>:</strong></dt>
  <dd><%= @course_class_student.student_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_class_id) %>:</strong></dt>
  <dd><%= @course_class_student.course_class_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @course_class_student.note %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_abandonment) %>:</strong></dt>
  <dd><%= @course_class_student.date_abandonment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_conclusion) %>:</strong></dt>
  <dd><%= @course_class_student.date_conclusion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_note) %>:</strong></dt>
  <dd><%= @course_class_student.end_note %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              course_class_students_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_class_student_path(@course_class_student), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_class_student_path(@course_class_student),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
