<script type="text/javascript">

$(document).ready(function() { 
  $(".phone_number").mask("(99) 9999-9999");
  $(".date").mask("99/99/9999");
  $(".cpf").mask("999.999.999-99");
});

</script>

<%= simple_form_for @student, :html => { :class => "form-horizontal student" } do |f| %>

    <% if @student.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@student[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :telefone, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control phone_number', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@student[:phone_number]) %>
  </div>
  <div class="form-group">
    <%= f.label :celular, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :mobile_phone_number, :class => 'form-control phone_number', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@student[:mobile_phone_number]) %>
  </div> 
  <div class="form-group">
    <%= f.label :email, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'form-control', :style=> 'max-width: 600px'  %>
    </div>
    <%= error_span(@student[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :rg, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :rg, :class => 'form-control rg', :style=> 'max-width: 150px' %>
    </div>
    <%= error_span(@student[:rg]) %>
  </div>
  <div class="form-group">
    <%= f.label :cpf, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :cpf, :class => 'form-control cpf', :style=> 'max-width: 150px' %>
    </div>
    <%= error_span(@student[:cpf]) %>
  </div>
  <div class="form-group">
    <%= f.label "Tipo Sanguíneo", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.select(:sanguine_type, 
            [['A+', 'A+'],['A-', 'A-'],
             ['AB+', 'AB+'],['AB-', 'AB-'],
             ['B+', 'B+'],['B-', 'B-'],
             ['O+', 'O+'],['O-', 'O-']],
            {:include_blank => '...'},
            {:class =>'form-control', :style=> 'max-width: 100px'}) %>
    </div>
    <%= error_span(@student[:sanguine_type]) %>
  </div>
  <div class="form-group">
    <%= f.label "Data Nascimento", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'form-control date', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@student[:birthday]) %>
  </div>
  <div class="form-group">
    <%= f.label "Endereço", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control', :style=> 'max-width: 600px'  %>
    </div>
    <%= error_span(@student[:address]) %>
  </div>
  <div class="form-group">
    <%= f.label :cidade, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.input :city_name, 
                  :url => autocomplete_city_name_students_path, 
                  :as => :autocomplete,
                  :label => false,
                  :input_html => { 
                      :class => 'form-control', 
                      :style => 'max-width: 600px;',
                      :id_element=>'#city_id'
                  } 
      %>
      <%= f.hidden_field :city_id, :id => "city_id" %>

    </div>
    <%= error_span(@student[:city]) %>
  </div>
  <fieldset class="well the-fieldset">
    <legend class="the-legend">Crachá</legend>
    <div class="form-group">
      <%= f.label "Possui Crachá", :class => 'col-sm-2 control-label' %>
      <div class="controls">
        <%= f.check_box :has_badge, :class => 'form-control', :style=> 'max-width: 34px' %>
      </div>
      <%= error_span(@student[:has_badge]) %>
    </div>
    <div class="form-group">
      <%= f.label "Número", :class => 'col-sm-2 control-label' %>
      <div class="controls">
        <%= f.text_field :badge_number, :class => 'form-control', :style=> 'max-width: 200px' %>
      </div>
      <%= error_span(@student[:badge_number]) %>
    </div>
    <div class="form-group">
      <%= f.label "Vencimento", :class => 'col-sm-2 control-label' %>
      <div class="controls">
        <%= f.text_field :badge_end_date, :class => 'form-control date', :style=> 'max-width: 200px' %>
      </div>
      <%= error_span(@student[:badge_number]) %>
    </div>
    <div class="form-group">
      <%= f.label "Observação", :class => 'col-sm-2 control-label' %>
      <div class="controls">
        <%= f.text_field :badge_observation, :class => 'form-control', :style=> 'max-width: 600px'  %>
      </div>
      <%= error_span(@student[:badge_observation]) %>
    </div>
  </fieldset>
  <br>

  <%= f.submit "Salvar Aluno", :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to "Cancelar", students_path, :class => 'btn btn-default' %>

<% end %>
