<%- model_class = Student -%>


<div class="page-header">
  <h3><%=t '.title', :default => "Alunos" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(students_path, :method => "get", id: "search-form", :class => "form-inline students") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_student_name, session[:search_student_name], 
           placeholder: "nome", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :cidade %>
      <div class="controls">
        <%= text_field_tag :search_student_city_name, session[:search_student_city_name], 
            placeholder: "cidade", :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "Possui Crachá?" %>
      <div class="controls">
        <%= label_tag "Sim" %>
        <%= radio_button_tag(:search_student_has_badge, value = "yes", 
            checked = (true if session[:search_student_has_badge] == 'yes'), options = {:class => 'form-control', :style=> 'width: 34px'}) %>
        <%= label_tag "Não" %>
        <%= radio_button_tag(:search_student_has_badge, value = "no", 
            checked = (true if session[:search_student_has_badge] == 'no'), options = {:class => 'form-control', :style=> 'width: 34px'}) %>
        <%= label_tag "Ambos" %>
        <%= radio_button_tag(:search_student_has_badge, value = "both", 
            checked = (true if session[:search_student_has_badge] == 'both'), options = {:class => 'form-control', :style=> 'width: 34px'}) %>
      </div>
    </div>
    
    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", students_clear_search_path,
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>
  </fieldset>

<% end %>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:telefone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name("Possui Crachá") %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.phone_number %></td>
        <td><%= student.email %></td>
        <td><%= (student.has_badge ? "SIM" : "NÃO") %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_student_path(student), 
                :disabled => !current_user.auth_to_edit('student'),
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                student_path(student),
                :disabled => !current_user.auth_to_remove('student'),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @students %>
<br>

<%= link_to t('.new', :default => "Novo"),
      new_student_path,
      :disabled => !current_user.auth_to_add('student'),
      :class => 'btn btn-primary' %>
