<%- model_class = UseCase -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Casos de Uso" %></h3>
</div>
<!-- FORM SEARCH -->
<%= form_tag(use_cases_path, :method => "get", id: "search-form", :class => "form-inline use_case") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_use_case_name, session[:search_use_case_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", use_cases_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:chave) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @use_cases.each do |use_case| %>
      <tr id="use_case_<%=use_case.id%>">
        <td><%= use_case.id%></td>
        <td style="width:50%"><%= use_case.name %></td>
        <td><%= use_case.key %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_use_case_path(use_case), 
                :disabled => !current_user.super?,
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                use_case_path(use_case),
                :disabled => !current_user.super?,
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @use_cases %>
<br>
<%= link_to t('.new', :default => "Novo"),
      new_use_case_path,
      :disabled => !current_user.super?,
      :class => 'btn btn-primary' %>
