<script type="text/javascript">

$(document).ready(function() { 
  $(".date").mask("99/99/9999");
  $(".decimal").mask("99.99");
});

</script>

<%= simple_form_for @registration, :html => { :class => "form-horizontal registration" } do |f| %>

  <% if @registration.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @registration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :turma, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :course_class_name, :class =>'form-control', 
          :style=> 'max-width: 600px;', :disabled=>'disabled' %>
    </div>
    <%= error_span(@registration[:course_class]) %>
  </div>

  <div class="form-group">
    <%= f.label :aluno, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :student_name, :class =>'form-control', 
          :style=> 'max-width: 600px', :disabled=>'disabled' %>
    </div>
    <%= error_span(@registration[:student]) %>
  </div>

  <div class="form-group">
    <%= f.label "Data Abandono", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :date_abandonment, :class => 'form-control date', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@registration[:date_abandonment]) %>
  </div>

  <div class="form-group">
    <%= f.label "Data Conclusão", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :date_conclusion, :class => 'form-control date', :style=> 'max-width: 200px'  %>
    </div>
    <%= error_span(@registration[:date_conclusion]) %>
  </div>

  <div class="form-group">
    <%= f.label :status, :class => 'col-sm-2 control-label' %>
    <div class="form-group">
    
      <%= f.select(:registration_status_id, RegistrationStatus.all.map{ |c| [c.name, c.id]}, {:value => :registration_status_id}, {:class =>'form-control', :style=> 'max-width: 350px'})%>

    </div>
    <%= error_span(@registration[:registration_status]) %>
  </div>

  <div class="form-group">
    <%= f.label "Nota Final", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :end_note, :class => 'form-control decimal', :style=> 'max-width: 80px'  %>
    </div>
    <%= error_span(@registration[:end_note]) %>
  </div>

  <div class="form-group">
    <%= f.label "Observação", :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_area :note, :class => 'form-control', :style=> 'max-width: 600px'  %>
    </div>
    <%= error_span(@registration[:note]) %>
  </div>

  <%= f.submit "Salvar Matrícula", :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to "Cancelar", session["url_back_registration"], :class => 'btn btn-default' %>

<% end %>
