<%- model_class = Registration -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(registrations_path, :method => "get", id: "search-form", :class => "form-inline registration") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :turma %>
      <div class="controls">
        <%= text_field_tag :search_course_class_name_in_registration, session[:search_course_class_name_in_registration], 
            :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>
   
    <div class="form-group">
      <%= label_tag :aluno %>
      <div class="controls">
        <%= text_field_tag :search_student_name_in_registration, session[:search_student_name_in_registration], 
        :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", registrations_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:student) %></th>
      <th><%= model_class.human_attribute_name(:class) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr id="registration_<%=registration.id%>">
        <td><%= registration.id %></td>
        <td><%= registration.student.name %></td>
        <td><%= registration.course_class.name %></td>
        <td><%= (registration.registration_status.nil? ? "" : registration.registration_status.name) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_registration_path(registration),
                :disabled => !current_user.auth_to_edit('registration'),
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                registration_path(registration),
                :disabled => !current_user.auth_to_remove('registration'),
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @registrations %>
