<script type="text/javascript">

$(document).ready(function() { 
  $(".date-time").mask("99/99/9999 99:99");
});

</script>
<style type="text/css">

.event{
  border: solid 1px #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: -1px;
}

.td-hour{
  font-size: 15px;
}

</style>
<%- model_class = Event -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Agenda" %></h3>
</div>
<!-- FORM SEARCH -->
<!--
<%= form_tag(events_path, :method => "get", id: "search-form", :class => "form-inline") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_event_name, session[:search_event_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag "Data/Hora" %>
      <div class="controls">
        <%= text_field_tag :search_event_begin, session[:search_event_begin], :class => 'form-control date', :style=> 'max-width: 200px' %>
      </div>
    </div>
 
    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", events_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>
<% end %>
-->

<div class="form-group" style="width:100%;justify-content: center;align-items: center;">
  <div style="left: 50%;margin-left: -230px;position: absolute;width: 460px;">
    <%= link_to @previous_month, events_previous_month_path, :class => 'btn btn-default sm', :style=>"width:150px"%>
    <%= link_to @selected_month, nil, :class => 'btn btn-warning sm', :style=>"width:150px"%>
    <%= link_to @next_month, events_next_month_path, :class => 'btn btn-default sm', :style=>"width:150px"%>
  </div>
</div>

<br><br>

<%= 
  link_to "Novo", current_user.auth_to_add('event') ? new_event_path : "",
    :disabled => !current_user.auth_to_add('event'),
    :class => 'btn btn-primary'
%>

<!-- <table class="table table-striped"> -->
<!--   <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name("Início") %></th>
      <th><%= model_class.human_attribute_name("Fim") %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead> -->
<p/>

<table class="table table-striped">
  <tbody>
    <% @events.each do |event| %>
    <% if @last_day_showed != event.formated_begin_date_without_time %>
      <tr class="tr-data-hora">
        <td class="td-hour" colspan="4">
          <% @last_day_showed = event.formated_begin_date_without_time %>
          <%= event.formated_begin_date_without_time %>
        </td>
      </tr>
    <% end %>
    <tr id="event_<%=event.id%>">
      <td style="padding-left:30px">
        <b><%= link_to event.formated_begin_date_only_time,
            current_user.auth_to_edit('event') ? edit_event_path(event) : "", 
            :disabled => !current_user.auth_to_edit('event'),
            :class => 'btn btn-default btn-xs'%></b> 
        <%= event.name %>
        <b><%= event.local.downcase! %></b>
        <i><%= event.resume %></i>
      </td>
      <td>
        <%= link_to 'Participantes', 
          events_participants_path(:id=>event.id),
          :disabled => !current_user.auth_to_view('event'),
          :class => 'btn btn-default btn-xs' %>
        <%= 
          link_to t('.destroy', :default => "Remover"),
            current_user.auth_to_remove('event') ? event_path(event) : "", 
            :disabled => !current_user.auth_to_remove('event'),
            :remote => true,
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
            :class => 'btn btn-xs btn-danger' 
        %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @events %>
