<%= simple_form_for @registration_status, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @registration_status.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @registration_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px'  %>
    </div>
    <%= error_span(@registration_status[:name]) %>
  </div>

  <%= error_span(@registration_status[:name]) %>

  <%= f.submit "Salvar Status", :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to "Cancelar", registration_statuses_path, :class => 'btn btn-default' %>

<% end %>
