<%- model_class = RegistrationStatus -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Status Matricula" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(registration_statuses_path, :method => "get", id: "search-form", :class => "form-inline registration_status") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_registration_status_name, session[:search_registration_status_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", registration_statuses_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= "Gera Lista Presença" %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @registration_statuses.each do |registration_status| %>
      <tr id="registration_status_<%=registration_status.id%>">
        <td><%= registration_status.id %></td>
        <td><%= registration_status.name %></td>
        <td><%= (registration_status.show_list_of_presence? ? "SIM" : "NÃO") %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_registration_status_path(registration_status),
                :disabled => !current_user.auth_to_edit('registration_status'), 
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                registration_status_path(registration_status),
                :disabled => !current_user.auth_to_remove('registration_status'),
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @registration_statuses %>
<br>
<%= link_to t('.new', :default => "Novo"),
      new_registration_status_path,
      :disabled => !current_user.auth_to_add('registration_status'),
      :class => 'btn btn-primary' %>
