<%= simple_form_for @course, :html => { :class => 'form-horizontal course' } do |f| %>
    <% if @course.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', :style=> 'max-width: 600px' %>
    </div>
    <%= error_span(@course[:name]) %>
  </div>

   <div class="form-group">
    <%= f.label :acronym, :class => 'col-sm-2 control-label' %>
    <div class="controls">
      <%= f.text_field :acronym, :class => 'form-control', :style=> 'max-width: 100px' %>
    </div>
    <%= error_span(@course[:acronym]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'col-sm-offset-2 btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            courses_path, :class => 'btn btn-default' %>

<% end %>
