<%- model_class = Course -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Cursos" %></h3>
</div>

<!-- FORM SEARCH -->
<%= form_tag(courses_path, :method => "get", id: "search-form", :class => "form-inline city") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_course_name, session[:search_course_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", courses_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:sigla) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.id, course_path(course) %></td>
        <td style="width:50%"><%= link_to course.name, edit_course_path(course) %></td>
        <td><%= course.acronym %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                      edit_course_path(course), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                      course_path(course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Novo"),
            new_course_path,
            :class => 'btn btn-primary' %>
