<%= simple_form_for @role, 
    :html => { :class => "form-horizontal authorization"},
    :url => url_for(roles_update_authorization_path),
    :method => 'get' do |f| %>

  <div class="page-header">
    <h3><%= @role.name %> </h3>
  </div>

  <% if @role.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- use_cases -->
  <div role="tabpanel" class="tab-pane active" id="use_cases">
      <%- model_class = UseCase -%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:caso_de_uso) %></th>
            <th><%= model_class.human_attribute_name(:visualizar) %></th>
            <th><%= model_class.human_attribute_name(:adicionar) %></th>
            <th><%= model_class.human_attribute_name(:editar) %></th>
            <th><%= model_class.human_attribute_name(:remover) %></th>
          </tr>
        </thead>
        <tbody>
          <% @role.authorizations.each do |authorization| %>

            <%= hidden_field_tag :role_id, @role.id %>
            <%= hidden_field_tag authorization.use_case.key + 'authorization_id', authorization.id %>
            <tr>
              <td width="50%"><%= authorization.use_case.name %></td>
              <td style="text-align:center">
                    <%= check_box_tag (authorization.use_case.key + '_view'), 'yes', authorization.view, 
                      :class => 'form-control check-box' %>
              </td>

              <td style="text-align:center">
                    <%= check_box_tag (authorization.use_case.key + '_add'), 'yes', authorization.add, 
                      :class => 'form-control check-box' %>
              </td>

              <td style="text-align:center">
                    <%= check_box_tag (authorization.use_case.key + '_edit'), 'yes', authorization.edit, 
                      :class => 'form-control check-box' %>
              </td>

              <td style="text-align:center">
                    <%= check_box_tag (authorization.use_case.key + '_remove'), 'yes', authorization.remove, 
                       :class => 'form-control check-box' %>
              </td>                
            </tr>

          <% end %>
        </tbody>
      </table>

  </div>

  <%= submit_tag "Salvar", :class => 'btn btn-success' if @edit == true %>

  <%= link_to "Voltar", session["url_back_authorizations"], :class => 'btn btn-default' %>                      

 
<% end %>
