<%- model_class = DocumentCategory -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Categoria de Documento" %></h3>
</div>
<!-- FORM SEARCH -->
<%= form_tag(document_categories_path, :method => "get", id: "search-form", :class => "form-inline document_category") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_document_category_name, session[:search_document_category_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", document_categories_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<%= link_to t('.new', :default => "Novo"),
      new_document_category_path,
      :disabled => !current_user.auth_to_add('document_category'),
      :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @document_categories.each do |document_category| %>
      <tr id="document_category_<%=document_category.id%>">
        <td><%= document_category.id%></td>
        <td style="width:50%"><%= document_category.name %></td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_document_category_path(document_category), 
                :disabled => !current_user.auth_to_edit('document_category'),
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                document_category_path(document_category),
                :disabled => !current_user.auth_to_remove('document_category'),
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @document_categories %>