<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <b class="caret"></b></a>
  <ul class="dropdown-menu">

	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('city')
				link_to "Cidades", "/cities" 
			end
		%>
	</li>
	
	<li class="divider"></li>

	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('institution')
				link_to "Instituições", "/institutions" 
			end
		%>
	</li>    
	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('course')
				link_to "Cursos", "/courses" 
			end
		%>
	</li>

	<li class="divider"></li>

	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('student')
				link_to "Alunos", "/students" 
			end
		%>
	</li>	

	<li class="divider"></li>
	
	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('employee_category')
				link_to "Categoria Colaborador", "/employee_categories" 
			end
		%>
	</li>
	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('employee')
				link_to "Colaboradores", "/employees" 
			end
		%>
	</li>
	
	<li class="divider"></li>

	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('registration_status')
				link_to "Status Matricula", "/registration_statuses"
			end 
		%>
	</li>
	<li>
		<%= 
			if user_signed_in? && current_user.auth_to_view('document_category')
				link_to "Categoria Documento", "/document_categories" 
			end
		%>
	</li>

  </ul>
</li>

<li>
	<%= 
		if user_signed_in? && current_user.auth_to_view('course_class')
			link_to "Turmas", "/course_classes" 
		end
	%>
</li>
<li>
	<%= 
		if user_signed_in? && current_user.auth_to_view('registration')
			link_to "Matriculas", "/registrations" 
		end
	%>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações<b class="caret"></b></a>
  <ul class="dropdown-menu">
	<li>
		<%= 
			if user_signed_in? && current_user.admin?
				link_to "Usuários", "/accounts"
			end 
		%>
	</li>
	<li>
		<%= 
			if user_signed_in? && current_user.super?
				link_to "Parâmetros", "/parameters"
			end 
		%>
	</li>	
	<li>
		<%= 
			if user_signed_in? && current_user.super?
				link_to "Casos de Uso", "/use_cases"
			end 
		%>
	</li>			
  </ul>
</li>

<li><%= link_to 'Sobre', page_path('about') %></li>
