<%# add navigation links to this file %>
<li><%= link_to "Institutions", "/institutions" %></li>
<li><%= link_to "Classes" %></li>
<li><%= link_to "Students", "/students" %></li>
<li><%= link_to "Cities", "/cities" %></li>
<li><%= link_to 'About', page_path('about') %></li>
