<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Usuários" %></h3>
</div>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name("Último Login") %></th>
      <th><%= model_class.human_attribute_name("Papéis") %></th>
      <th><%=t '.actions', :default => "Ativar/Inativar" %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id%></td>
        <td><%= user.name%></td>
        <td><%= user.email%></td>
        <td><%= user.last_sign_in_at%></td>
        <td>
          <%= 
            link_to "Papéis", 
              accounts_authorizations_path(:id => user.id), 
              :disabled => !current_user.admin?,
              :class => 'btn btn-success btn-xs' %>        
        </td>
        <td>
          <%= 
            if user.active?
              link_to "Inativar", 
                accounts_inactivate_user_path(:id => user.id), 
                :class => 'btn btn-default btn-xs',
                :disabled => !current_user.admin?,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja inativar o usuário?') }
            else
              link_to "Ativar  ", accounts_activate_user_path(:id => user.id), :class => 'btn btn-default btn-xs',
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja ativar o usuário?') },
                :disabled => !current_user.admin?
            end
          %>
        </td>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_account_path(user), 
                :disabled => !current_user.admin?,
                :class => 'btn btn-default btn-xs' %>

            <%= link_to t('.destroy', :default => "Remover"),
                account_path(user),
                :disabled => !current_user.admin?,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?') },
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Novo"),
      new_account_path,
      :disabled => !current_user.admin?,
      :class => 'btn btn-primary' %>
