<%- model_class = Parameter -%>
<div class="page-header">
  <h3><%=t '.title', :default => "Parâmetros"%></h3>
</div>
<!-- FORM SEARCH -->
<%= form_tag(parameters_path, :method => "get", id: "search-form", :class => "form-inline parameter") do %>

  <fieldset class="well the-fieldset">
    <legend class="the-legend">Pesquisa</legend>
    <div class="form-group">
      <%= label_tag :nome %>
      <div class="controls">
        <%= text_field_tag :search_parameter_name, session[:search_parameter_name], :class => 'form-control', :style=> 'max-width: 600px' %>
      </div>
    </div>

    <%= submit_tag "Pesquisar", :class => 'btn btn-success sm', :style => "margin-top: 22px;" %>
    <%= link_to "Limpar", parameters_clear_search_path, 
          :class => 'btn btn-default sm', :style => "margin-top: 22px;" %>

  </fieldset>

<% end %>

<%= link_to t('.new', :default => "Novo"),
      new_parameter_path,
      :disabled => !current_user.super?,
      :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name("Descrição") %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%=t '.actions', :default => "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @parameters.each do |parameter| %>
      <tr id="parameter_<%=parameter.id%>">
        <td><%= parameter.id%></td>
        <td><%= parameter.name %></td>
        <td><%= parameter.description %></td>
        <th><%= parameter.value %></th>
        <td>
          <%= link_to t('.edit', :default => "Editar"),
                edit_parameter_path(parameter),
                :disabled => !current_user.super?, 
                :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => "Remover"),
                parameter_path(parameter),
                :disabled => !current_user.super?,
                :remote => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => 'Tem certeza que deseja excluir?')},
                :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="7">
        Exibindo <%= @parameters.length %> de <%= @total %> parâmetro(s)
      </td>
    <tr>
  </tbody>
</table>
<%= paginate @parameters %>